@model IEnumerable<StudentManagement_MVC.Models.StuddentManagement_database.Student>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;

<div>
    <h1> Student list </h1>
</div>
<div>
    <table>
        <thead class="table">
            <tr>
                <th class="border-3">No</th>
                <th class="border-3">Student ID</th>
                <th class="border-3">Student Name</th>
                <th class="border-3">Class</th>
                <th class="border-3">Address</th>
                <th class="border-3">Parrent Phone</th>
            </tr>
        </thead>
        <tbody class="table-info">
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td class="border-2">@item.Id</td>
                    <td class ="border-2">@item.StuId</td>
                    <td class="border-2">@item.Fullname</td>
                    <td class="border-2 ">@item.Class</td>
                    <td class="border-2">@item.Address</td>
                    <td class="border-2">@item.ParentPhone</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="SearchStudentByID" asp-controller="Student" class="btn btn-primary"> Edit Student </a>

    @* luu y o nhung method dang post muon hien thi thong tin trang dang url.action hoac asp-action, asp-controller thi buoc phai tao mot method dang httpget de hien thi, sau do moi tao method dang httppost de xu ly du lieu *@

    <a asp-action="Add" asp-controller="Student" class="btn btn-secondary">Add Student</a>


</div>