@model IEnumerable<StudentManagement_MVC.Models.StuddentManagement_database.Student>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;

<div>
    <h1> Student list </h1>
</div>
<div>
    <table>
        <thead class="table">
            <tr>
                <th class="border-3">ID</th>
                <th class="border-3">Student ID</th>
                <th class="border-3">Student Name</th>
                <th class="border-3">Class</th>
                <th class="border-3">Address</th>
                <th class="border-3">Parrent Phone</th>
            </tr>
        </thead>
        <tbody class="table-info">

            @* @{
                // int a, b;
                // do
                // {
                //     a = Random.Shared.Next(9, 20);
                //      b = Random.Shared.Next(9, 20);
                // }
                // while (a > b);


                List<StudentManagement_MVC.Models.StuddentManagement_database.Student> students = Model.ToList();
                for (int i = 0; i < students.Count; i++)
                {
                    <tr>
                        <td class="border-3">@students[i].Id</td>
                        <td class="border-3">@students[i].StuId</td>
                        <td class="border-3">@students[i].Fullname</td>
                        <td class="border-3">@students[i].Class</td>
                        <td class="border-3">@students[i].Address</td>
                        <td class="border-3">@students[i].ParentPhone</td>
                        <td> <a asp-controller="Student" asp-action="EditInfor" asp-route-Id="@students[i].Id" class="btn"> Edit </a></td>
                    </tr>
                }
            } *@

            @foreach (var item in Model)
            {
                <tr>
                    
                    <td class="border-2">@item.Id</td>
                    <td class ="border-2">@item.StuId</td>
                    <td class="border-2">@item.Fullname</td>
                    <td class="border-2 ">@item.Class</td>
                    <td class="border-2">@item.Address</td>
                    <td class="border-2">@item.ParentPhone</td>
                    <td> <a asp-controller="Student" asp-action="EditInfor" asp-route-Id="@item.Id" class="btn btn-secondary"> Edit </a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="SearchStudentByID" asp-controller="Student" class="btn btn-primary"> Edit Student </a>

    @* luu y o nhung method dang post muon hien thi thong tin trang dang url.action hoac asp-action, asp-controller thi buoc phai tao mot method dang httpget de hien thi, sau do moi tao method dang httppost de xu ly du lieu *@

    <a asp-action="Add" asp-controller="Student" class="btn btn-secondary">Add Student</a>


</div>