@model IEnumerable<StudentManagement_MVC.Models.StuddentManagement_database.Student>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;


<div>
    <h1> Search bar </h1>
    <form asp-action="SearchByContains" asp-controller="Student" method="get">
        <div>
            <input type="text" name="strSearch" placeholder="Enter student name or ID" />
            @* name="abc" thi abc match voi doi so truyen vao trong ham tim kiem thi moi thanh cong *@
            <button type="submit" class="btn btn-primary">Search</button>

        </div>
        <div>
            @if (Model != null)
            {
                <table>
                    <thead class="table">
                        <tr>
                            <th class="border-3">ID</th>
                            <th class="border-3">Student ID</th>
                            <th class="border-3">Student Name</th>
                            <th class="border-3">Class</th>
                            <th class="border-3">Address</th>
                            <th class="border-3">Parrent Phone</th>
                        </tr>
                    </thead>
                    <tbody class="table-info">
                        @* dung list va for de hien thi ket qua boi vi ket qua tra ve thong qua ham getstudentbycontains la .tolist()
                        vay nen phai dung list va for, con foreach k dung duoc vi no khong phai la mang hay collection *@
                        @{
                            List<StudentManagement_MVC.Models.StuddentManagement_database.Student> students = Model.ToList();


                            for (int i = 0; i < students.Count; i++)
                            {
                                <tr>
                                    <td>@students[i].StuId</td>
                                    <td>@students[i].Fullname</td>
                                    <td>@students[i].DoB</td>
                                    <td>@students[i].Address</td>
                                    <td>@students[i].ParentPhone</td>
                                </tr>
                            }

                        }

                    </tbody>

                </table>
            }
        </div>

    </form>
</div>